 
.AffirmationView  {
font:"consolas";
font-size: 18px;
color: white;

}

.AffirmationView-form {
display: inline-block;
    text-align: center;
    /* border: 1px solid #4A4A4A; */
    padding: 30px 
 

  }
  
    
.AffirmationView-form label  {
    display: inline-block;
    font-size: 20px;
    padding-right:20px;
    letter-spacing: 2px;
    padding-top: 30px;
    clear:left;
    text-align:center;
  }



  .AffirmationView input {
    background-color: transparent;
    display: inline-block;
    border: 0;
    border-bottom: 1.3px solid #4A4A4A;
    color: rgb(237, 236, 212);
    font-size: 18px;
    letter-spacing: 1px;
    outline: 0;
    padding: 7px 25px 1.5px;
    text-align: center;
    transition: all 0.3s;
    width: 180px;
  }
  
  .AffirmationHeadline  {
        font-size: 14px;
        color: #edefef; 
        
      }
  

.AffirmationView input:focus {
        max-width: 100%;
        width: 400px;
      }

.AffirmationView select:focus {
        max-width: 100%;
        width: 400px;
      }


  


    /* style the button on the AffirmationView form */

.AffirmationView-form button {
    background: transparent;
    color: #F0F0F0;
    border: 1.2px solid #F0F0F0;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 18px 30px ;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 70px 30px;
    -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
  }
  
  .AffirmationView-form button:hover, button:focus {
    background-color: white;
    color: #333333;
  }

 /*form {
        /* display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        /* column-gap: 20px; */
        /* text-align: right; */ 
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%; */
    /* border-bottom: 1px solid white; */
    /*}*/

    
 /* style the AffirmationView-answer */
.AffirmationView-answer {
    display: grid;
    /* text-indent: 20px; */
    text-align: left;
    color: white;
    padding-top: 70px;
    padding-bottom: 30px;
    padding-left: 120px;
    padding-right: 120px;
    background-color: black;
    margin: 30px 200px 60px 200px;
    border-radius: 5px;
    border: 0 solid rgb(67, 63, 63);
    font-size: 18px;
    }

.AffirmationView-date {
        font-size: 15px;
        color: rgb(241, 239, 223);
        text-align: left;
        padding: 0px 0px 20px;
    }

    /* style the was this Useful button */
.AffirmationView-answer button {
   background: transparent;
    color: #F0F0F0;
    border: 1.5px solid #F0F0F0;
    font-size: 10px;
    letter-spacing: 2px;
    padding: 10px 30px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 40px 20px 0px;
   
  }
  

    /* style className="Email-form" */
.Email-form {

    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 140px;
    padding-right: 120px;
    background-color: black;
    border-radius: 5px;
    border: 0 solid rgb(67, 63, 63);
  
    }

    .Email-label {
        font-size: 18px;
        padding-right:20px;
        letter-spacing: 2px;
        padding-top: 30px;
        clear:left;
        text-align:center;
    }

  .Email-form button {   
    background-color: transparent;   
    color: white;
    padding: 32px;
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
    border: 1px solid #F0F0F0;
    font-size: 16px;
    padding: 10px 28px;
    margin: 10px 30px;

    cursor: pointer;
  
    }
    
   .email-form button:hover {
        border: 1px;
        background-color:transparent;
  }

   .Affirm-Useful  { 
    background-color: transparent;   
    border: 1px;
    color: white;
    padding: 10px;
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 20px 0px;
    cursor: pointer;
    }

    .Question-box {
      display: grid;
      /* text-indent: 20px; */
      text-align: left;
      color: white;
      padding-top: 50px;
      padding-bottom: 30px;
      padding-left: 120px;
      padding-right: 120px;
      background-color: black;
      margin: 30px 200px 60px 200px;
      border-radius: 5px;
      border: 0 solid rgb(67, 63, 63);
      font-size: 18px;
      }

      .questionHeadline {
        font-size: 14px;
        color: #edefef;
        text-align: left;
        padding: 0px 0px 10px;
    }

    .question-display {
        font-size: 18px;
        color: rgb(255, 255, 255);
        text-align: left;
        padding: 0px 0px 0px;
    }

    .question-answer {
        font-size: 18px;
        font-style: italic;
        color: rgb(241, 239, 223);
        text-align: left;
        padding: 0px 0px 20px;
    }

.dark-image { 
  width: 40%;
  height: 60%;  
  float: right;
      padding: 10px 0px 10px 0px;
      margin: 10px 0px 0px 10px;
}

