.cart-grid img{
    border: 3px solid white;
    border-radius: 20px;
    vertical-align: middle;    
    width: 80px;
    height: 80px;
    object-fit:cover;
    margin: 0 5px;
    z-index: 0;
    user-select: none;
    transition: transform 0.2s ease;
}
.cart-grid{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    margin: 60px 50px;
    width: 100%;
    max-width: 1200px;
    align-items: center;
}

.cart-view .price{    
    display:inline-block;
    margin: 0 5px;
}

.cart-view .price-list{
    display: grid;
}

.cart-grid a{
    color: white;
    text-decoration: none;
    margin: auto 5px;
    align-self: center;
}

.cart-grid .checkout{
    background: transparent;
    color: #F0F0F0;
    border: 1.2px solid #F0F0F0;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 18px 30px ;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    margin: 15px auto;
    -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
}


.cart-grid .checkout:hover, .checkout:focus {
    background-color: white;
    color: #333333;
}

.cart-view .checkout-container{
    border: 1px solid white;
    padding: 10px 20px;
}

.cart-view .product-list{
    display: flex;
flex-direction: column;
}

.cart-view .product{
    margin: 15px 0;
}

.cart-view .plus, .cart-view .minus {
    border: 1px solid white;
    border-radius: 4px;
    padding: 4px 8px;
    background: transparent;
    color: #F0F0F0;
    border: 1 solid #F0F0F0;
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
}
.cart-view .minus{
    padding: 4px 10px;
    margin-left: 5px;
}

.cart-view .plus:disabled, .cart-view .minus:disabled {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 4px 8px;
    background: transparent;
    color: gray;
    opacity: 0.6;
    border: 1 solid #F0F0F0;
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
}

.cart-view .plus:hover:enabled, .cart-view .plus:focus:enabled, .cart-view .minus:hover:enabled, .cart-view .minus:focus:enabled {
    background-color: white;
    color: #333333;
}

.cart-view .delete{
    border:none;
    width: 30px;
    height: 35px;
    border-radius: 0px;
    object-fit:cover;
}